<ul class="nav nav-sidebar">
  <li><a href="/page/options"><span class="glyphicon glyphicon-cog"></span> Processing Options </a></li>
  <li><a href="/page/corrections"><span class="glyphicon glyphicon-wrench"></span> Spectral Corrections </a></li>
  <li><a href="/page/analysis"><span class="glyphicon glyphicon-stats"></span> Statistical Analysis </a></li>
</ul>
