<div class="alert hidden" data-bind="css: Type" id="messageBox" role="alert">
  <span class="glyphicon" data-bind="css: Icon"></span>
  <span id="messageBoxContent" data-bind="text: Message"></span>
</div>
