<nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container-fluid">
         <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/page/dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
		</div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/page/uploads"><span class="glyphicon glyphicon-list-alt"></span> Data Uploads </a></li>
      <li><a href="/page/options"><span class="glyphicon glyphicon-cog"></span> Processing Options </a></li>
      <li><a href="/page/corrections"><span class="glyphicon glyphicon-wrench"></span> Spectral Corrections </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> Reports </a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><span class='progress-spinner'><i class='glyphicon glyphicon-refresh'></i></span></li>
			<li class="dropdown">
				<a href="#" id="navigationUserMenu" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a id="navigationMyDetails" href="/pages/users/<%=req.session.user%>">My Details</a></li>
					<li class="divider"></li>
					<li><a id="navigationLogout" href="/">Logout</a></li>
				</ul>
			</li>
		</ul>
		</div>
    </div>
</nav>
