<%- partial('../includes/FormFieldTemplate.ejs') %>
<form id="entityForm" role="form">
  <div data-bind='template: { name: "formFieldString", data: {Property: "Name", Name: "Name"}}'></div>

  <div class="panel panel-default spacer" data-bind="with: EntityViewModel">
      <div class="panel-heading">
        <h2 class="panel-title">Low Frequency Range</h2>
      </div>
      <div class="panel-body">
        <div data-bind='template: { name: "formFieldCheckBox",
          data: {Property: "Analytic_Correction_Of_High_Pass_Filtering_Effects", Name: "Analytic Correction Of High Pass Filtering Effects"}}'></div>
      </div>
    </div>

    <div class="panel panel-default spacer" data-bind="with: EntityViewModel">
      <div class="panel-heading">
        <h2 class="panel-title">High Frequency Range</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div data-bind='template: { name: "formFieldCheckBox",
              data: {Property: "Correction_Of_Low_Pass_Filtering_Effects", Name: "Correction Of Low Pass Filtering Effects"}}'></div>
          </div>
          <div class="col-sm-6">
            <div data-bind='visible: $root.getProperty("Correction_Of_Low_Pass_Filtering_Effects"), template: { name: "formFieldList",
                      data: {Property: "Correction_Of_Low_Pass_Filtering_Effects_Method", Name: "Method",
                      Options: ["Moncrieff et al. (1997) – Fully analytic","Massmann (2000, 2001) – Fully analytic","Horst (1997) – Analytic with in situ parameterization","Ibrom et al. (2007) – In situ / analytic","Fratini et al. (2012) – In situ/analytic"], Caption: "Select"}}'></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldCheckBox",
              data: {Property: "Correction_For_Instruments_Separation", Name: "Correction For Instruments Separation"}}'></div>
          </div>
          <div class="col-sm-6">
            <div data-bind='visible: $root.getProperty("Correction_For_Instruments_Separation") && FieldsEnabled, template: { name: "formFieldList",
                      data: {Property: "Correction_For_Instruments_Separation_Method", Name: "Method",
                      Options: ["Horst and Lenshow (2009), along-wind, crosswind and vertical","Horst and Lenshow (2009), only crosswind and vertical"], Caption: "Select"}}'></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldDate", data: {Property: "Subperiod_Start", Name: "Subperiod Start"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldString", data: {Property: "Minimum_Number_Of_Spectra", Name: "Minimum Number Of Spectra For Valid Averages"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldNumber", data: {Property: "Minimum_CO2_Flux", Name: "Minimum CO2 Flux", Suffix: "umol/m2s"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldNumber", data: {Property: "Minimum_CH4_Flux", Name: "Minimum CH4 Flux", Suffix: "umol/m2s"}}'></div>
          </div>
          <div class="col-sm-6">
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldDate", data: {Property: "Subperiod_Start", Name: "Subperiod End"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldNumber", data: {Property: "Minimum_Gas_Flux", Name: "Minimum Gas Flux", Suffix: "umol/m2s"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldNumber", data: {Property: "Minimum_Latent_Heat_Flux", Name: "Minimum Latent Heat Flux", Suffix: "W/m2"}}'></div>
            <div data-bind='visible: FieldsEnabled, template: { name: "formFieldNumber", data: {Property: "Minimum_Sensible_Heat_Flux", Name: "Minimum Sensible Heat Flux", Suffix: "W/m2"}}'></div>
          </div>
        </div>
      </div>
  </div>

  <div class="panel panel-default spacer" data-bind="with: EntityViewModel,visible: EntityViewModel.FieldsEnabled">
    <div class="panel-heading">
      <h2 class="panel-title">Frequency Range for fitting in-situ transfer functions</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <h3>CO2</h3>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Frequency_CO2", Name: "Lowest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Highest_Frequency_CO2", Name: "Highest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Noise_Frequency_CO2", Name: "Lowest Noise Frequency", Suffix: "Hz"}}'></div>
        </div>
        <div class="col-sm-3">
          <h3>H20</h3>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Frequency_H20", Name: "Lowest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Highest_Frequency_H20", Name: "Highest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Noise_Frequency_H20", Name: "Lowest Noise Frequency", Suffix: "Hz"}}'></div>
        </div>
        <div class="col-sm-3">
          <h3>CH4</h3>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Frequency_CH4", Name: "Lowest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Highest_Frequency_CH4", Name: "Highest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Noise_Frequency_CH4", Name: "Lowest Noise Frequency", Suffix: "Hz"}}'></div>
        </div>
        <div class="col-sm-3">
          <h3>Gas</h3>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Frequency_Gas", Name: "Lowest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Highest_Frequency_Gas", Name: "Highest Frequency", Suffix: "Hz"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Lowest_Noise_Frequency_Gas", Name: "Lowest Noise Frequency", Suffix: "Hz"}}'></div>
        </div>
      </div>
      </div>
  </div>
  <div class="panel panel-default spacer" data-bind="with: EntityViewModel, visible: EntityViewModel.FieldsEnabled">
    <div class="panel-heading">
      <h2 class="panel-title">Fratini et al. (2012) method settings</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Threshold_Flux_CO2", Name: "CO2", Suffix: "umol/m2s"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Threshold_Flux_CH4", Name: "CH4",Suffix: "umol/m2s"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Threshold_Flux_Gas", Name: "4th Gas",Suffix: "umol/m2s"}}'></div>
        </div>
        <div class="col-sm-6">
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Threshold_Latent_Heat", Name: "Latent Heat",Suffix: "W/m2"}}'></div>
          <div data-bind='template: { name: "formFieldNumber", data: {Property: "Threshold_Sensible_Heat", Name: "Sensible Heat",Suffix: "W/m2"}}'></div>
        </div>
      </div>
    </div>
  </div>
  <%- partial('../includes/FormButtons.ejs') %>
</form>

<script type="text/javascript">
  require(['knockout', 'baseForm', 'correction'],
    function(ko, baseForm, vm) {
      baseForm.Initialise(vm());
    });
</script>

<%- partial('../includes/ModalDialogBox.ejs') %>
